/* .App{
    background: url(portfolio-website/src/images/triangles-g3002ddb7d_1280.png) no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;
}

html, body { padding: 0; margin: 0} */

.top-of-page{
    background-color: black;
    overflow: hidden;
    height: 100px;
    width: 1440px;
}
.top-image{
    height: 500px;
    /* margin-bottom: 600px; */
    padding-left: 100px;
    transform: translateY(-25px);
    transform: translateX(200px);
}

html{
    height: 100vh;
}