.main-page-image{
    border-radius: 50%;
    padding: 10px;
    border: 15px solid black;


}
.picture-container{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.intro-container{
    width: 100;
    height: 250px;
    padding: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.language-file-container{
    margin-top: 230px;
}

.container-title{
    text-align: center;
    padding-top: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
}


.language-container{
    display: flexbox;
    flex-direction: column;

}

.language-container img {
    padding: 20px;
    transition: 1s;
}

.language-container :hover img{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frameworks-container{
    display: flexbox;
    flex-direction: column;
    margin-left: 10%;
}

.frameworks-container img {
    padding: 30px;
    transition: 1s;
}

.frameworks-container :hover img {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 475px) {
    .frameworks-container{
        width: 100%;
        margin-left: 0%;
    }
    
    .frameworks-container img {
        width: 100%;
    }

    .python-photo{
        width: 100%;
    }
    .js-photo{
        margin-left: 25%;
    }
    
    .html-photo{
        margin-left: 20%;
    }
    
    .css-photo{
        margin-left: 28%;
    }
    .ruby-photo{
        margin-left: 6%;
    }
    .main-page-image{
        margin-left:3%;
    }
}