/* #root{
    background: url(/Users/rbrnfrvr/Personal-Profile-Website/portfolio-website/src/images/triangles-g3002ddb7d_1280.png) no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;
}

html, body { padding: 0; margin: 0} */